- var author = "Михаил Беляков"
- var title = "Запись на занятия"
- var brand = "Запись на занятия"
- var description = "Запись на занятия по программированию к Михаилу Белякову."
- var homeLink = "#/"
- var recaptcha = "6LdOj3MfAAAAAAXmg5YMGmBwC-OBk63TeLihnAO-"
- var logo = "media/logo.png"
- var svgSprite = ["book","calendar-event","calendar-x","clipboard","clipboard-check","person-lines-fill","cast","pip","file-text","person-workspace","github"]
- var navbarLinks = [{"icon":"calendar-event","link":"https://calendar.google.com/calendar/u/0?cid=bHFpZWNuMnBpY2ptMmw5MWN2czVzbmFyczhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ","title":"Календарный план занятий"},{"icon":"file-text","link":"#offer","title":"Пользовательское соглашение"},{"icon":"cast","link":"#delivery","title":"Информация о способах доставки"},{"icon":"person-lines-fill","link":"#contacts","title":"Контакты"}]
- var tocToggle = "Показать список учебных планов"
- var tocHeader = "Учебные планы:"
- var asideLinks = [{"title":"Языки программирования","link":"#languages","links":[{"link":"#java.md","title":"Java","icon":"book"},{"link":"#java-script.md","title":"JavaScript","icon":"book"},{"link":"#python.md","title":"Python","icon":"book"},{"link":"#c-sharp.md","title":"C#","icon":"book"}]}]
- var withBootstrap = true
- var withSvelte = true
- var withHashRouting = true
- var withHMFLayout = true
- var withComfortableReading = true
- var withCustomCss = true
- var headerLayout = "brand-and-end-icons"
- var mainLayout = "offcanvas-and-article"
- var footerLayout = "simple-copyright"
- var copyright = true
